* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

.caixa-principal {

    width: 100%;
    height: 100vh;
    background-color: #400390;
    /* background-position-x:60%;
    background-position-y: 50%; */
    /* background-size: 600px auto; */
    /*    
    background-repeat: no-repeat; 



    background-image: url(./assets/img/dev.png) ; */

}

.img-dev {

    width: 100%;
    /* ocupa 100% do espaço do container */
    max-width: 600px;
    /* limite máximo do tamanho */
    height: auto;
    /* mantém proporção original */
    margin: 50px auto;
    margin-top: 150px;
    /* centraliza verticalmente e horizontalmente */
    display: block;
    /* garante que o margin auto funcione */

    box-shadow: 0 5px 15px rgba(202, 32, 32, 0.5);
    /* sombra básica */
    border-radius: 8px;


}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.Portifólio {
    color: white;
    font: 40px;
    font-size: 35px;





    font-weight: bold;
    text-shadow:
        0 0 5px #ffffff,
        0 0 5px #ffffff,
        0 0 10px #ff0000,
        /* Vermelho reluzente */
        0 0 15px #09b1e9,
        0 0 20px #0380f4;
}

.Portifólio span {
    color: #d31e0a;
}


li a,
li a:link,
li a:visited {
    color: white;
    text-decoration: none;

}


li {
    color: white;
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin: 30px;
    cursor: pointer;
}

li a:hover {
    color: red;
    transition: 0.5s;

}

.meu-nome {

    position: absolute;


    top: 20%;
    left: 5%;

    text-shadow:
        0 0 3px #ffffff,
        0 0 3px #ffffff,
        0 0 5px #ff0000,
        /* Vermelho reluzente */
        0 0 15px #09b1e9,
        0 0 10px #0380f4;
    /* display: flex;
        flex-direction: column;
        margin: 20px; */



}

h1 span {
    color: red;

}

.meu-nome h3 {
    color: white;
    font-size: 25px;

}

section {
    display: flex;
    align-items: center;
    padding: 60px 0;
    background-color: #5309b4;




}

.foto-perfil {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin: 40px;
    box-shadow: 0 5px 15px rgba(233, 5, 5, 0.5);
}

section div h2 {
    font-size: 40px;
    color: white;
    text-shadow:
        0 0 3px #ffffff,
        0 0 3px #ffffff,
        0 0 5px #ff0000,
        /* Vermelho reluzente */
        0 0 15px #09b1e9,
        0 0 10px #0380f4;

}

section div p {
    font-size: 20px;
    margin: 20px 0;
    color: rgb(220, 150, 207);
    font-weight: 400, bolder;
}

section div button {
    padding: 10px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
}

section div button:hover {
    color: red;

    font-weight: bolder;
    background-color: #400390;
    border: 2px solid red;
    transition: 0.5s;
    box-shadow: 5px 10px 12px rgba(233, 5, 5, 0.5);

}

.projetos {
    background-color: #400390;

}

.projetos h2 {
    text-align: center;
    font-size: 40px;
    padding: 20px;
    color: white;

    text-shadow:
        0 0 3px #ffffff,
        0 0 3px #ffffff,
        0 0 5px #ff0000,
        /* Vermelho reluzente */
        0 0 15px #09b1e9,
        0 0 10px #0380f4;

}

.card {

    background-color: #5309b4;
    width: 365px;
    height: 380px;
    border-radius: 20px;
    margin: 20px;
    padding: 20px 35px;
    text-align: center;
    box-shadow: 5px 10px 12px rgba(233, 5, 5, 0.5);

}

.card img {

    width: 100px;
    height: 100px;
}

.card h5 {
    font-size: 25px;
    color: white;
    margin: 10px 0;

}

.card p {
    font-size: 16px;
    color: rgb(220, 150, 207);
    margin-top: 10px;
    margin-bottom: 25px;
}

.card a {
    font-size: 12px;
    background-color: red;
    padding: 6px 6px;
    color: white;
    border-radius: 5px;
    cursor: pointer;

    text-decoration: none;

    transition: 0.5s;
}

.card a:hover {
    background-color: transparent;
    border: 2px solid red;

}

.card-projetos {
    display: flex;
    /* justify-content: space-around; */
    height: 500px;
    /* margin: 10px; */
    justify-content: center;
    align-items: center;

}

footer{
    background-color: #5309b4;
    padding: 100px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h5{
    color: white;
    font-size: 30px;

        text-shadow:
        0 0 3px #ffffff,
        0 0 3px #ffffff,
        0 0 5px #ff0000,
        /* Vermelho reluzente */
        0 0 15px #09b1e9,
        0 0 10px #0380f4;

}
footer p {
    color: rgb(220, 150, 207);
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 30px;
}

.social{
    display: flex;
    gap: 20px;
}

.social img{
    height: 22px;
    border-radius: 50%;
}

.social a{
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    cursor: pointer;

        box-shadow: 5px 5px 20px rgba(228, 221, 221, 0.5);


    

}
.social a:hover{
    transform: scale(1.4);
    transition: 0.8s;
    background-color: transparent;
    border: 2px solid red;

}

